<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Sub Manager"
    Manufacturer="jollywitch"
    Version="$(var.ProductVersion)"
    UpgradeCode="A8B56C19-A67D-4D03-9F6C-5F9867EFA12A"
    Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Sub Manager is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Sub Manager">
        <Files Include="$(var.BuildOutputDir)\**" />
      </Directory>
    </StandardDirectory>
  </Package>
</Wix>
